/*
    Author: Maliha Afroj Orna , Fariha Akther;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color:#8D3D5B;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color:#cf6a87;
}

.btn-secondary{
    background-color:#27ae60;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-secondary:hover{
    background-color:#2ecc71;
}

.btn-danger{
    background-color:#c0392b;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-danger:hover{
    background-color:#e74c3c;
}

.success{
    color: #27ae60;
}

.error{
    color: #c0392b;
}




/* css for menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #8D3D5B;
}
.menu ul li a:hover{
    color: #cf6a87;
}


/* css for main-content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* css for footer */
.footer{
    background-color: #8D3D5B;
    color: white;
}
.footer a{
    color: white;
}


/* css for login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}